
/*
.grid-container {
    display: grid;
    grid: repeat(auto-fill, 6em) / auto-flow 1fr;
    grid-gap: 0.5em;
    outline: 1px dashed red;
}
*/


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(128px,1fr));
    gap: 2em;
}

.grid-cell {
}



.thumb {
    float: top;
    width: 64px;
    height: 64px;
}
