{% extends "layout.html" %}
{% block content %}
    {% if data is none %}
        <div class="data"><span class="data_value">Waiting for first sample to be collected</span></div>
    {% else %}
        {% for file in data %}
        <table class="history" border="1">
            {% set ns = namespace(firstrow = True) %}
            {% for row in file %}
	        {% if ns.firstrow %}
                    <tr>
	            {% for col in row %}
		        <th class="history_header">{{ col }}</th>
                    {% endfor %}
		    {% set ns.firstrow = False %}
                    </tr>
	        {% else %}
                    <tr>
	            {% for col in row %}
		        <td>{{ col }}</td>
                    {% endfor %}
                    </tr>
	        {% endif %}
            {% endfor %}
        </table>
	{% endfor %}
    {% endif %}
{% endblock content %}
