{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form.csrf_token }}
    {% if form.errors %}
	    {% for err in form.errors %}
                <div class="form_errors">
		    {{ err }}
	        </div>
	    {% endfor %}
    {% endif %}
    <div class="form_group">
        {{ form.units.label(class="units_label") }}
        {{ form.units }}
    </div>
    <div class="form_group">
        {{ form.password.label(class="password_label") }}
        {{ form.password }}
    </div>
    <div class="form_group">
        {{ form.confirm_password.label(class="password_label") }}
        {{ form.confirm_password }}
    </div>
    {{ form.submit }}
</form>
{% endblock content %}
